* {
    box-sizing: border-box;
    margin: 0;
}

header{
    background: dodgerblue;
    height: 200px;
    position: relative;
}

main { 
    margin: 20px 10px;
}

.logo{
    height: 100px;
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.main-title{
    font-size: 30px;
    font-weight: bold;
}

.author{
    font-size: 15px;
}

.images-source{
    font-size: 12px;
}




.grey-font {
    color: grey;
}

.blue-font {
    color: lightskyblue;s
}