* {
    box-sizing: border-box;
    margin: 0;
}

header{
    background: dodgerblue;
    height: 200px;
    position: relative;
}

main { 
    margin: 20px 10px;
}

.logo {
    height: 100px;
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.main-title {
    font-size: 35px;
    font-weight: bold;
}

.author {
    font-size: 15px;
}

.images-source {
    font-size: 12px;
}

.text {
    margin-left: 5px;
}

.text ul {
    margin-left: -25px;
}

.hl-yellow {
    background-color: yellow;
}

.grey-font {
    color: grey;
}

.black-font {
    color: black;
}

.blue-font {
    color: lightskyblue;
}

.bg-blue {
    background-color:rgb(100, 209, 255);
}

.bg-white {
    background-color: white;
}

.table-title {
    width: fit-content;
    text-align: start;
    background-color: rgb(25, 128, 172);
    color: white;
    border-spacing: 0px;
}

.spazio-vuoto{
    margin-bottom: 0.60cm;
}