* {
    box-sizing: border-box;
    margin: 0;
}

header{
    background: dodgerblue;
    height: 200px;
    position: relative;
}

main { 
    margin: 20px 10px;
}

.logo {
    height: 100px;
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.main-title {
    font-size: 35px;
    font-weight: bold;
}

.author {
    font-size: 15px;
}

.images-source {
    font-size: 12px;
}


.hl-yellow {
    background-color: yellow;
}

.grey-font {
    color: grey;
}

.blue-font {
    color: lightskyblue;s
}



.spazio-vuoto{
    margin-bottom: 0.60cm;
}